backend/venv/
backend/app/
backend/quantumeco.db
quantumeco-blockchain/venv/
quantumeco-blockchain/build/contracts/
quantumeco-blockchain/node_modules/
quantumeco-blockchain/python_interface/__pycache__/
